@model MVC_CRUD_DiplomadoUASD_AJAX.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="card-container">
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Name, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.LastName, "Apellido", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.UserName, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
    @Html.ActionLink(" Editar", "Edit", new { id = Model.IdUser }, new { @class = "glyphicon glyphicon-edit" })
</div>
<p>
    @Html.ActionLink(" Back to List", "Index", "Registro", null, new { @class = "glyphicon glyphicon-home" })
</p>